@page
@model LoginModel
@{ ViewData["Title"] = "GreatShop"; }


<head>
    <!-- Custom styles for this template -->
    <link href="/css/signin.css" rel="stylesheet">
</head>

<body2 class="text-center">

    <form class="form-signin" method="post">
        <img class="mb-4" src="~/Images/Company/Logo.png" alt="" width="250" height="250">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

        <label asp-for="Input.Email" class="sr-only">Email address</label>
        <input type="email" asp-for="Input.Email" class="form-control" placeholder="Email address" required autofocus>
        <span asp-validation-for="Input.Email" class="text-danger"></span>

        <label asp-for="Input.Password" class="sr-only">Password</label>
        <input type="password" asp-for="Input.Password" class="form-control" placeholder="Password" required>
        <span asp-validation-for="Input.Password" class="text-danger"></span>

        <div class="checkbox mb-3">
            <label asp-for="Input.RememberMe">
                <input asp-for="Input.RememberMe" />
                @Html.DisplayNameFor(m => m.Input.RememberMe)
            </label>
            </br>
            <a href="/Identity/Account/Register">Don't Have An Account Yet?</a>
        </div>
        <button id="signbtn" class="btn btn-success btn-primary btn-block" type="submit">Sign in</button>

        <div class="form-group">
            <p>
                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
            </p>
           
            <p>
                <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
            </p>
        </div>
        <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
    </form>
</body2>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
