@page
@model RegisterModel


<head>
    <!-- Custom styles for this template -->
    <link href="/css/signin.css" rel="stylesheet">
</head>

<body2 class="text-center">

    <form class="form-signin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <img class="mb-4" src="~/Images/Company/Logo.png" alt="" width="250" height="250">
        <h1 class="h3 mb-3 font-weight-normal">Register</h1>

        <label asp-for="Input.Email" class="sr-only">Email address</label>
        <input type="email" asp-for="Input.Email" class="form-control" placeholder="Email address" required autofocus>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
        <br />

        <label asp-for="Input.FullName" class="sr-only">Full Name</label>
        <input type="text" asp-for="Input.FullName" class="form-control" placeholder="Full Name" required autofocus>
        <span asp-validation-for="Input.FullName" class="text-danger"></span>
        <br />

        <label asp-for="Input.PhoneNumber" class="sr-only">Phone Number</label>
        <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Phone Number" required autofocus>
        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
        <br />

        <label asp-for="Input.Password" class="sr-only">Password</label>
        <input type="password" asp-for="Input.Password" class="form-control" placeholder="Password" required autofocus>
        <span asp-validation-for="Input.Password" class="text-danger"></span>
        <br />

        <label asp-for="Input.ConfirmPassword" class="sr-only">Confirm Password</label>
        <input type="password" asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm Password" required autofocus>
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>





        <button id="signbtn" class="btn btn-outline-success btn-primary btn-block" type="submit">Register</button>


        <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
    </form>
</body2>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
