<!-- Need a Model Here because Whenever user enters category name and hits create button
    we want to pass those values to our Acton method POST and we want to greate category
    1. Add a method for POST
    -->
@model GreatShop.Models.Category

@* Old -- form method="post" asp-action="Create" --*@
<!-- It is not sending to Delete, it is sending to  DeletePost-->
<form method="post" asp-action="DeletePost">
    <input asp-for="Id" hidden />
    <div class="border p-3">

        <div class="form-group row">
            <h2 class="text-info pl-3">Delete Category</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Name"></label>
                    </div>

                    <!--    Display name dissable editing   -->
                    <div class="col-8">
                        <input asp-for="Name" disabled class="form-control" />
                      
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="DisplayOrder"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="DisplayOrder"  disabled class="form-control" />
             
                    </div>

                    <!--                 end                -->
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <!-- value= Update will look for Update in EdCategory Controller-->
                            <input type="submit" class="btn btn-danger w-100" value="Delete" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100"><i class="fas fa-sign-out-alt"></i> Back</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
            </div>
        </div>
    </div>

</form>


<!--        Client Side Validation Scripts      -->
@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />
    }

}


