<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Welcome Email from Bulky Book</title>
    <link href="~/css/OrderInquiryStyle.css" rel="stylesheet">
</head>
<body style="position: relative; width: 21cm; height: 29.7cm; margin: 0 auto; color: #555555; background: #FFFFFF; font-family: Arial, sans-serif; font-size: 14px; font-family: SourceSansPro;">
    <header class="clearfix" style="        display: table;
        clear: both;
        padding: 10px 0;
        margin-bottom: 20px;
        border-bottom: 1px solid #AAAAAA;
">
        <div id="logo">
            <img src="logo.png">
        </div>
        <div id="company" style="float: right; text-align: right;">
            <h2 class="name">Great Shop</h2>
            <div>123 4th St, IL 60555, US</div>
            <div>(123) 456-7450</div>
            <div><a href="mailto:No-Reply@GreatShop.com">No-Replay@GreatShop.com</a></div>
        </div>

    </header>
    <main>
        <div id="details" class="clearfix" style=" margin-bottom: 50px;">
            <div id="client" style="padding-left: 6px; border-left: 6px solid #0087C3; float: left;">
                <div class="to">INVOICE TO:</div>
                <h2 class="name">Name : {0}</h2>

                <div class="email"><a href=""></a> Email &nbsp; : {1} </div>
                <div class="phone"> Phone : {2} </div>
            </div>
            <div id="invoice" style=" float: right; text-align: right;">
                <h1>INVOICE 3-2-1</h1>
                <div class="date">Date of Invoice: 01/06/2014</div>
                <div class="date">Due Date: 30/06/2014</div>
            </div>
        </div>
        <table border="0" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th class="no">#</th>
                    <th class="desc">DESCRIPTION</th>
                    <th class="unit">UNIT PRICE</th>
                    <th class="qty">QUANTITY</th>
                    <th class="total">TOTAL</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                   
                    <td class="desc"><h3>{3}</h3></td>
                 
                </tr>
            </tbody>
           
        </table>
        <div id="thanks" style="font-size: 2em; margin-bottom: 50px;">Thank you!</div>
        <div id="notices">
            <div>NOTICE:</div>
            <div class="notice">A finance charge of 1.5% will be made on unpaid balances after 30 days.</div>
        </div>
    </main>
    <footer style="color: #777777; width: 100%; height: 30px; position: absolute; bottom: 0; border-top: 1px solid #AAAAAA; padding: 8px 0; text-align: center;">
        Invoice was created on a computer and is valid without the signature and seal.
    </footer>
</body>
</html>